/* .table {
    border-collapse: collapse;
    width: 85%;
    margin: 5% 8%;
    padding: 50%;
    background-color: bisque;
    justify-content: center;
    text-align: center;
}

.table th,
.table td {
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.table th {
    background-color: goldenrod;
    color: grey;
} */